* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
} 

.container {
    padding-left: 10px;
    padding-right: 10px;
    max-width: 1024px;
    min-width: 320px;
    margin-left: auto;
    margin-right: auto;
}

.title {
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dataToday {
    flex-basis: 30%;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 14px;
    font-weight: bold;
    color: black;
}
.dataToday2 {
    font-size: 13px;
    font-weight: bold;
    color: black;
}

.title h1 a {
    white-space: nowrap;
    font-size: xx-large;
    color: black;
    text-decoration: none;
}

.weather {
    display: flex;
    flex-basis: 30%;
    justify-content: flex-end;
    font-size: 14px;
    color: black;
    opacity: 0;
    transition: 0.7s;
}
.iconWeather  {
    height: 40px;
}
.tempCurrent {
    align-self: center;
    margin-left: 5px;
    margin-right: 5px;
    font-weight: bold;
    font-size: 16px;
    color: black;
}
.tempHighLow {
    align-self: center;
    margin-left: 5px;
    margin-right: 5px;
    font-weight: 100;
    font-size: 12px;
    color: gray;
}
.searchIcon {
    padding-left: 20px;
    padding-right: 10px;
}

.topmenu2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.topmenu2 a {
    padding: 3px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 3px;
    color: black;
    text-decoration: none;
    transition: .2s linear;
}
.topmenu2Left, .topmenu2Left a {
    display: flex;
    align-items: center;
}
.topmenu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1;
    height: 36px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(235, 235, 235);
    border-bottom-style: double;
    border-bottom-color: rgb(0, 0, 0);
    list-style-type: none
}
.topmenu a {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    text-decoration: none;
    font-size: 14px;
    color: black;
    opacity: 0.8;
    border-radius: 3px;
    transition: .2s linear;
}
.submenuCountryBtn {
    width: 75px;
    text-align: center;
}

.submenuCountryBtn a i {
    font-size: 10px;
}
.submenuCountryContent {
    position: absolute;
    display: none;
    z-index: 10;
    width: 75px;
    list-style-type: none;
    padding-top: 10px;
    font-size: 14px;
    text-align: left;
}
.submenuCountryContent li {
    background-color: #f4f4f4;
}
.submenuCountryContent a {
    display: block;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
    opacity: 0.8;
}

@keyframes submenuSlow {
    from {
    opacity: 0;
    }
    to {
    opacity: 0.8;
    }
}
@keyframes sideMenu {
    from {
    left: -160px;
    }
    to {
    left: 0px;
    }
}

.categoryAndSearch {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 45px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(235, 235, 235);
    list-style-type: none
}
.categoryName {
    display: block;
    width: 25%;
    white-space: nowrap;
}
.categoryAndSearch div i {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    right: 0;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #bdbdbd;
    background-color: #f4f4f4;
    font-size: 16px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out;
}

.categoryAndSearch div {
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 75%;
    align-self: center
}
.formSearch {
    display: block;
    padding: 5px 5px;
    border: 1px solid #bdbdbd;
    font-size: 14px;
    border-radius: 3px;
    width: 75%;
    background-clip: padding-box;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.formSearch::placeholder {
    padding: 5px 5px;
    font-size: 14px;
    border-width: 1px;
}
.formSearch:focus {
    color: #212529;
    border-color: #bdbdbd;
    outline: 0;
    box-shadow: 0 0 0 0.15rem rgba(158, 158, 158, 0.25);
}

.mainNews {
    flex-wrap: wrap;
}

.newsItem {
    display: flex;
    width: 100%;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(235, 235, 235);
    animation: submenuSlow 0.5s linear;
}

.newsBlock {
    width: 100%;
}
.newsBlock a {
    text-decoration: none;
    color: black;
}
.newsBlock a:hover {
    text-decoration: underline;
}

.newsData, .newsTitle, .newsDescription {
    padding: 10px 20px;
    flex-wrap: wrap;
}
.newsData {
    padding-right: 0px;
}
.newsData2 {
    padding: 0px 20px 10px 20px;
    font-size: 0.8125em;
}
.newsData {
    min-width: 70px;
    max-width: 70px;
    font-size: 0.8125em;
}
.newsImage  {
    display: block;
    float: right;
    width: 280px;
    padding: 10px 20px;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 15px;
}
.pagination a {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
    text-decoration: none;
    font-size: 16px;
    color: black;
    border-radius: 3px;
    opacity: 0.8;
    transition: .2s linear;
}
.pagination div {
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 16px;
    color: black;
    opacity: 0.8;
}

@media (hover) {
.pagination a:hover {
    background-color: lightgray;
    opacity: 1;
}
.topmenu li a:hover {
    background-color: lightgray;
    opacity: 1;
}

.topmenu2Left a:hover {
    background-color: lightgray;
    opacity: 1;
}
.categoryAndSearch div i:hover {
    background-color: lightgray;
}
}

.pagination a:active {
    background-color: lightgray;
    opacity: 1;
}
.topmenu li a:active {
    background-color: lightgray;
    opacity: 1;
}
.topmenu2Left a:active {
    background-color: lightgray;
    opacity: 1;
}
.categoryAndSearch div i:active {
    background-color: lightgray;
}

@media (max-width: 800px) {
    .container {
        padding-left: 0px;
        padding-right: 0px;
    }
    .dataToday, .weather {
        display: none;
    }
    .title {
        justify-content: center;
        height: 40px;
    }
    .title h1 a {
        font-size: 0.875em;
    }
    .topmenu {
        display: none;
    }
    .topmenu {
        flex-direction: column;
        position: absolute;
        top: 76px;
        left: 0px;
        justify-content: flex-start;
        align-items: flex-start;
        background-color: #f4f4f4;
        width: 160px;
        height: 100%;
        border: none;
    }
    .topmenu a {
        display: block;
        width: 160px;
        padding-left: 20px;
        padding-right: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 20px;
    }
    .submenuCountryBtn a i {
        font-size: 16px;
    }
    .submenuCountryBtn > a {
        width: 160px;
        text-align: left;
    }
    .submenuCountryContent {
        width: 160px;
        padding-top: 0px;
    }

    .nav {
        display: flex;
        align-items: center;
        height: 36px;
        padding-left: 17px;
        padding-right: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: #f4f4f4;
        border-top-width: 1px;
        border-top-style: solid;
        border-top-color: rgb(235, 235, 235);
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: rgb(235, 235, 235);
        list-style-type: none
    }
}


@media (min-width: 801px) {
    .topmenu2 {
        display: none;
    }
}

@media (max-width: 600px) {
    .newsData {
        display: none;
    }
}

@media (min-width: 601px) {
    .newsData2 {
        display: none;
    }
}

@media (max-width: 480px) {
    .newsImage  {
        width: 200px;
    }
    .dataToday, .weather {
        display: none;
    }
    .newsTitle {
        font-size: 1.15em;
    }
    .categoryName {
        font-size: 1.15em;
    }
    .title h1 a {
        font-size: 0.785em;
    }
    .formSearch, .formSearch::placeholder {
        font-size: 12px;
    }
    .categoryAndSearch div i {
        font-size: 14px;
    }
}

.show {
    display: block;
    z-index: 100;
}

.animeSubMenuStart {
    animation: submenuSlow 0.3s linear;
}
.animeSubMenuReverse {
    animation: submenuSlow 0.3s linear reverse;
}

.animeSideMenuStart {
    animation: sideMenu 0.4s linear;
}
.animeSideMenuReverse {
    animation: sideMenu 0.4s linear reverse;
}


